
/* responsive breakpoints*/
$tablet: 767px;
$desktop: 1280px;

/* Font-Family*/
$titillium-web: 'Titillium Web', sans-serif;


/*Primary Colors*/
$primary-text: #13182C;
$inactive: #3f0d12;
$primary-background:#FFFFFF;

/*Secondary Colors*/
$table-header: #5C667E;
$place-holder:#5C667E;
$outline-dividers-borders: #BDC5D5;

/*Background Colors*/
$header-background:#24293E;
$header-hover-background:#14182B;
$cta-hover:#232940;
$page-background:#ced3dc;
$table-header-background:#F7F8F9;
$cta-background:#F7F8F9;

/* Supporting Colors*/
$in-stock-label: #158463;
$out-of-stock-label:#C94515;
$error-state:#C94515;
$delete:#C94515;


// White		FFFFFF
// Light Gray	CED3DC
// Almond		E7CFB8
// Black Coral	5B616A
// Dark Sienna	3F0D12