
.modal {
    position: fixed;
    left: 0;
    top: 0;
    
    background-color: rgba($color: #000000, $alpha: 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  
    &__popup {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80%;
      }
  
      &__photo {
          background-image: (url(../../assets/images/booking-completed.jpg));
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          height: 100%;
          width: 100%;
         &-img {
          height: 100%;
          
         } 
    }
  
    &__text {
      width: 100%;
      height: 100%;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  