@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/breakpoints" as *;
@use "../../styles/partials/variables" as *;

.booking {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  width: 100%;

  &__title {
    padding-left: 2rem;
    padding-top: 2rem;
  }

  &__date-picker{
    
    &-container {
      width: 50%;
      
    }
  }

  &__form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    &-container {
      width: 50%;
      display: flex;
    flex-direction: column;
   
    align-items: flex-start;
    }
  }

  &__inputs {
    width: 100%;
    margin-left: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__confirm {
    margin: 0 auto;
    
    width: 100%;
    padding: 0.5rem;
    border-radius: 10px;
    margin-top: 2rem;
    display: flex;

    &-text {
      width: 80%;
      display: flex;
      flex-direction: column;

    }

    &-title {
      margin-top: 0;
    }
  }

  &__payment {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &-button {
      @include buttons;
      border: none;
      background-color: $inactive;
      color: $primary-background;
      border-radius: 4px;
      margin-left: 1rem;
      padding: 0.3rem 0.5rem;
    }

    &-button:hover {
      cursor: pointer;
      background-color: $cta-hover;
    }
  
  }
}