

.header {
    width: 100%;
    border-bottom: 1px solid black;

    &__container {
        margin: 0 auto;
        max-width: 1280px;
    }
    
}


.nav {
    display: flex;
    justify-content: space-between;

    &__links {
        display: flex;
        list-style: none;

    }

    &__link {
        text-decoration: none;
        padding-left: 1rem;
    }

    &__link:visited {
        color: black;
    }
}
